*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

header{
    background: #d9d9d9;
    height: 80px;
}

.head-content{
    display: inline-block;
}

.head-content--image{
    float: left;
    padding: 10px;
}

.head-content--nav{
    float: right;
    width: 400px;
}

nav li{
    display: inline-block;
}

.head-content--nav li:hover{
    background-color: black;
    color: white;
}

nav li{
    padding: 20px;
}

.banner{
    height: 200px;
    background: #06a3cc;
}

.banner-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 30px;
}

.banner-content--left-arrow{
    height: 50px;
}

.banner-content--text{
    font-size: 3rem;
    color: white;
}

.banner-content--right-arrow{
    height: 50px;
}

.main{
    height: 450px;
    font-size: 0;
    padding: 10px 90px;
    position: relative;
}

.main-content--body{
    height: 100%;
    width: 50%;
    background: #ffe469;
    padding-right: 20px;
    background-clip: content-box;
}

.main-content--section-wrapper{
    height: 100%;
    width: 50%;
}

.main-inblock{
    display: inline-block;
}

.main-content--form{
    height: 60%;
    width: 100%;
    background: #ed8719;
    padding-bottom: 20px;
    background-clip: content-box;
}

.main-content--extra{
    height: 40%;
    width: 100%;
    background: #8ae33b;
    background-clip: content-box;
}

.main-content--positioned{
    background: #d39ed6;
    position: absolute;
    height: 300px;
    width: 260px;
    top: 40px;
    left: 40px;
}

footer{
    height: 100px;
    background: #007694;
    color: white;
    text-align: center;
}

.footer-nav li{
    display: inline-block;
    padding: 25px 5px;
}
