*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background: #d9d9d9;
    height: 10vh;
}

.head-content{
    display: inline-block;
}

.head-content--image{
    float: left;
    padding: 1%;
}

.head-content--nav{
    float: right;
    width: 40%;
}

nav li{
    display: inline-block;
}

.head-content--nav li:hover{
    background-color: black;
    color: white;
}

nav li{
    padding: 4%;
    margin: 1%
}

.banner{
    height: 25vh;
    background: #06a3cc;
}

.banner-wrapper{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    padding-top: 8vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.banner-content--left-arrow{
    height: 5vh;
}

.banner-content--text{
    font-size: 3rem;
    color: white;
}

.banner-content--right-arrow{
    height: 5vh;
}

.main{
    height: 55vh;
    width: 100vw;
    font-size: 0;
    padding: 1% 7%;
}

.main-content--body{
    height: 100%;
    width: 50%;
    background: #ffe469;
    padding-right: 1%;
    background-clip: content-box;
}

.main-content--section-wrapper{
    height: 100%;
    width: 50%;
    padding-left: 1%;
    background-clip: content-box;
}

.main-inblock{
    display: inline-block;
}

.main-content--form{
    height: 60%;
    width: 100%;
    background: #ed8719;
    padding-bottom: 1%;
    background-clip: content-box;
}

.main-content--extra{
    height: 40%;
    width: 100%;
    background: #8ae33b;
    padding-top: 1%;
    background-clip: content-box;
}

.main-content--positioned{
    background: #d39ed6;
    position: absolute;
    height: 40vh;
    width: 30vh;
    top: 40vh;
    left: 3vw;
}

footer{
    height: 10vh;
    width: 100vw;
    background: #007694;
    color: white;
    text-align: center;
}

.footer-nav li{
    display: inline-block;
    padding: 2% 0.5%;
}
